<div class="myContainer3000">
  <div class="card" style="width: 20rem">
    <img src="{{ info.images.lg }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ info.name }}</h5>
      <p class="card-text">
        inteligencia: {{info.powerstats.intelligence}}<br>
        Fuerza: {{info.powerstats.strength}}<br>
        Velocidad: {{info.powerstats.speed}}<br>
        Durabilidad: {{info.powerstats.durability}}<br><br>
        Genero: {{info.appearance.gender}}<br>
        Raza: {{info.appearance.race}}<br>
      </p>
    </div>
  </div>
</div>
